ion-icon {
    font-size: 25px; //Preferred size here
    margin-right: 5px;
}

.nav-title {
    text-align: center;
}

.program-img {
    position: relative;
}

.program-img ion-row {
    padding: 5px;
    position: absolute;
    color: black;
    background: white;
    top: 10px;
    right: 10px;
    border-radius: 15px 50px;
    border: 2px solid #f72664;
}

.program-img .icons {
    position: absolute;
    top: calc(90% - 108px);
    right: 10px;
    // display: inline-block;
    padding: 5px;
    margin: 0px;
    // top: 100px;
    width: 40px;
    height: 40px;
    color: white;
    // background-color: orange;
    // right: 100px;
    // position: absolute;
    // border-radius: 50%;
    // border: 1px solid red;
}

.program-img .icons .age-icon {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    margin: 0px;
    top: 100px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #c31424;
    right: 150px;
    font-weight: bold;
    position: absolute;
    border-radius: 50%;
    border: 1px solid red;
}

.age-icon .fas {
    font-size: 20px;
}

.program-img .icons .shortlist-icon {
    position: absolute;
    background-color: #c31424;
    border-radius: 50%;
    top: 85px;
    width: 40px;
    height: 40px;
    right: 102px;
}

.shortlist-icon .fas {
    color: yellow;
}

.link-icon .fa-link {
    padding: 8px;
    font-size: 22px;
}

.shortlist-icon .fa-heart {
    font-size: 25px;
    padding: 7px;
}

.program-img .icons .link-icon {
    position: absolute;
    background-color: #c31424;
    border-radius: 50%;
    top: 86px;
    width: 40px;
    height: 40px;
    right: 52px;
}

.program-img .icons>ion-icon {
    font-size: 10px;
}

.program-img .icons .call-icon {
    position: absolute;
    background-color: #c31424;
    border-radius: 50%;
    top: 86px;
    width: 40px;
    height: 40px;
    right: 0px;
}

.call-icon .fa-phone-alt {
    font-size: 22px;
    // font-weight: 500;
    padding: 8px;
}

.program-img ion-row span {
    padding-top: 6px;
}

.program-detail {
    position: relative;
    color: #f72664;
    font-weight: bold;
}

.program-detail .cost {
    position: absolute;
    right: 10px;
}

.location-info {
    position: relative;
    color: #f72664;
}

.location-info .category {
    position: absolute;
    right: 100px;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #f72664;
}

.location-info .gender {
    position: absolute;
    right: 10px;
}

.program-title {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
}

.program-rating {
    margin-top: 1px;
    text-align: center;
    font-size: 12px;
}

.match {
    height: 85px;
}

.match .one {
    position: relative;
}

.match .two {
    position: relative;
}

.match .three {
    position: relative;
}

.one .text {
    position: absolute;
    left: 10px;
    text-transform: capitalize;
}

.two .text {
    position: absolute;
    left: 10px;
    top: 30px;
    text-transform: capitalize;
}

.three .text {
    position: absolute;
    left: 10px;
    top: 60px;
    text-transform: capitalize;
}

.program-img img {
    width: 100%;
    padding: 0px;
}

ion-progress-bar {
    position: absolute;
    left: 105px;
    width: 65%;
    height: 10px;
    border-radius: 10px;
    top: 5px;
}

.one ion-progress-bar {
    top: 5px;
}

.two ion-progress-bar {
    top: 35px;
}

.three ion-progress-bar {
    top: 65px;
}

.content h6 {
    padding-left: 10px;
    font-weight: bold;
}

.content .content-row {
    padding: 5px 10px;
}

.reputation {
    position: relative;
    height: 100px;
}

.reputation h6 {
    padding-left: 10px;
}

.sentiment {
    position: absolute;
    text-align: center;
    width: 80%;
    left: 30px;
}

.sentiment .number {
    font-size: 40px;
    font-weight: bold;
}

.sentiment .number.positive {
    position: absolute;
    left: 5px;
    color: green;
}

.sentiment .number.negative {
    position: absolute;
    left: 150px;
    color: red;
}

.sentiment .sentiment-text.positive {
    top: 60px;
    left: 35px;
    position: absolute;
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.sentiment .sentiment-text.negative {
    top: 60px;
    left: 150px;
    color: red;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
}

.reviews {
    position: relative;
}

.reviews ion-card {
    padding: 10px;
}

.rating .yellow {
    color: #c7c716;
    font-size: 15px;
}

.rating .star {
    font-size: 15px;
}

.review .person {
    font-weight: bold;
    color: black;
}

.person .date {
    position: absolute;
    right: 5px;
}

.directions {
    height: 250px;
    margin-bottom: 60px;
    padding: 2px;
}

.helpful {
    display: flex;
    text-align: center;
    border: 1px solid #f72664;
    border-radius: 10px;
    /* vertical-align: middle; */
    height: 75px;
    margin: 0px auto;
    width: 70%;
    // background-color: #f72664;
    align-items: center;
    padding: 10px;
}

.helpful div {
    flex: 1;
}

.helpful .dislike {
    color: red;
    font-size: 35px;
}

.helpful .like {
    color: green;
    font-size: 35px;
}

.helpful .helpful-content {
    flex: 3;
    font-weight: bold;
    font-size: 20px;
}