<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="options" (click)="openFilterOptions()"></ion-icon>
        </ion-buttons>
        <ion-title class="ion-text-center">{{category.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-segment (ionChange)="onChoiceUpdate($event)" value="recommended">
        <ion-segment-button value="recommended">Recommended</ion-segment-button>
        <ion-segment-button value="all">All</ion-segment-button>
    </ion-segment> -->
    <ion-text color="primary">
        <p>{{searchMessage}}</p>
    </ion-text>

    <ion-grid *ngIf="!recommendedPrograms">
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
                <p>There are no bookable places right now, please come back later!</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card *ngFor="let program of recommendedPrograms" (click)="navigateToDetail(program.id)">
        <div class="program-img">
            <img [src]="program.avatar" />
            <ion-row><ion-icon class="ion-text-center match-icon" name="heart-outline"></ion-icon><span class="match">{{program.relevance + '% match'}}</span></ion-row>
        </div>
        <ion-card-header>
            <ion-card-subtitle color="secondary">
                <div class="location-info">
                    Distance: 2.5 mile
                    <span class="category">{{program.category ? program.category : 'Sports'}}</span>
                    <span class="gender">
                        <ion-icon name="man"></ion-icon>
                        <ion-icon name="woman-outline"></ion-icon>
                    </span>
                </div>
            </ion-card-subtitle>
            <ion-card-title>
                <div class="program-detail">
                    {{program.name}} 
                    <span class="cost">{{program.price | currency}}/<span class="month">mo</span></span>
                </div>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{program.description | truncate : 50}}
            <br />
            <ion-button fill="outline" color="secondary" slot="end" (click)="navigateToDetail(program.id)">View Detail</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>