<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="landing">
            <ion-label>Programs</ion-label>
            <ion-icon name="search"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="community">
            <ion-label>Community</ion-label>
            <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="starred">
            <ion-label>Shortlisted</ion-label>
            <ion-icon name="star"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="enrollment">
            <ion-label>Schedule</ion-label>
            <ion-icon name="calendar"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>