<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="title">Edu KC Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="latest" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="latest">
      <ion-label>Latest</ion-label>
    </ion-segment-button>
    <ion-segment-button value="top">
      <ion-label>Top</ion-label>
    </ion-segment-button>
    <ion-segment-button value="categories">
      <ion-label>Categories</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row style="font-weight: bold;">
      <ion-col size="6">
        Topic
      </ion-col>
      <ion-col>
        Replies
      </ion-col>
      <ion-col>
        Activity
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let value of values">
      <ion-col size="6">
        {{value.topic}}
      </ion-col>
      <ion-col>
        {{value.replies}}
      </ion-col>
      <ion-col>
        {{value.activity}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

  <div style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important">
    <iframe src="http://127.0.0.1:8887/Ionic%20Forum%20-%20Build%20mobile%20apps%20and%20PWAs%20with%20HTML%2C%20CSS%2C%20and%20JS.html" class="iframe" width=100% height=100% scrolling="yes" ></iframe>
  </div>