
ion-title{
    margin-left: 50px;
    // font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}

ion-title h1{
    font-size: 30px;
    font-weight: bold;
    // color: 
}

ion-content .form {
    padding: 0
}

.fb-btn {
    --background: blue;
}